html {
    scroll-behavior: smooth;
}
.darkmode {
    --bg-color: #252525;
    --text-color: #d4761d;
    --text-color2: #fc9434;
    --text-shine: #ffc895;
    --border-color: #836b00;
}
.lightmode {
    --bg-color: #dadada;
    --text-color: #d4761d;
    --text-color2: #fc9434;
    --text-shine: #ffc895;
    --border-color: #836b00;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--bg-color);
    top: 0;
    left: 0;
    margin: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
    display: none;
}
h1 {
    color: var(--text-color2);
    font-size: 85px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;

    text-decoration: underline var(--text-color) 5px;
    text-underline-offset: 10px;
    transition: 0.5s;
}

h1:hover {
    transition: 0.5s;
    transform: scale(1.025);
}

#backgroundImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #252525a7;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    box-shadow: 0 0 10px var(--text-color2);
    color: var(--text-color);
    font-size: 30px;
    transition: 0.5s;
}
.container:hover, .seasonContainer:hover {
    box-shadow: 0 0 25px var(--text-color2);
    transform: scale(1.025);
    transition: 0.5s;
}

li {
    display: inline-block;
    font-size: 32px;
    list-style-type: none;
    padding: 32px;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 56px;
    margin-bottom: 10px;
    text-align: center;
}

#scrollHint {
    border-radius: 50%;
    border: 2px solid var(--border-color);
    box-shadow: 0 0 10px var(--text-color2);
    color: var(--text-color);
    font-size: 30px;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 1s infinite;
    text-align: center;
    background-color: #252525a7;
    transition: 0.5s;
}

#scrollHint:hover {
    cursor: pointer;
    box-shadow: 0 0 20px var(--text-color2);
    transition: 0.5s;
}

@keyframes bounce {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

#scrollHint > i {
    font-size: 30px;
    line-height: 50px;
    transition: 0.5s;
}

#scrollHint > i:hover {
    transition: 0.5s;
    color: var(--text-color2);
}

#content {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    padding-bottom: 100px;
}

.shine {
    background: linear-gradient(90deg, var(--text-color2) 0%, var(--text-color2) 40%, var(--text-shine) 50%, var(--text-color2) 60%, var(--text-color2) 100%);
    background-size: 400% 400%;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    animation: shine 20s infinite;
}

@keyframes shine {
    0% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

#infoDiv {
    display: flex;
    flex-direction: row;
    height: 400px;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}
#infoDiv > * {
    text-align: center;
    margin: 0 auto;
}

#infoTextDiv {
    font-size: 20px;
    padding: 20px;
    text-align: center;
    height: fit-content;
    width: fit-content;
    margin: auto;
}

#discordIframe {
    box-shadow: 0 0 10px var(--text-color2);
    border-radius: 10px;
    transition: 0.5s;
}
#discordIframe:hover {
    box-shadow: 0 0 20px var(--text-color2);
    transition: 0.5s;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    height: 100vh;
    background-color: var(--text-color2);
    margin-left: 30px;
    opacity: 0.25;

    display: grid;
    align-items: center;
    justify-items: center;
    transition: 0.5s;
}

#navbar:hover {
    opacity: 1;
    transition: 0.5s;
}

#navSeasons {
    display: grid;
    gap: 15px;

}

.navItem {
    background-color: var(--text-color);
    width: 50px;
    height: 50px;
    margin-left: -20px;
    box-shadow: 0 0 5px var(--text-color2);
    border: 2px solid var(--text-color2);
    border-radius: 10px;
    transition: 0.5s;
}
.navItem:hover {
    cursor: pointer;
    box-shadow: 0 0 20px var(--text-color2);
    transform: scale(1.05);
    transition: 0.5s;
}

.navItem > * {
    width: 100%;
    height: 100%;
    font-size: 35px;
    color: var(--bg-color);
    text-align: center;
}

.navItem > i {
    line-height: 50px;
}

.navItem > img {
    border-radius: 10px;
}

.glow {
    animation: glow 0.5s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px var(--text-color2);
    }
    100% {
        box-shadow: 0 0 20px var(--text-shine);
    }
}

.navActive {
    border: 2px solid var(--text-shine);
    box-shadow: 0 0 20px var(--text-shine);

    transition: 0.5s;

    background: linear-gradient(45deg, var(--text-color2) 0%, var(--text-color2) 40%, var(--text-shine) 50%, var(--text-color2) 60%, var(--text-color2) 100%);
    background-size: 800% 400%;

    animation: shine 20s infinite;
}

#seasons {
    display: grid;
    gap: 50px;
}

.seasonContainer {
    display: flex;
    flex-direction: row;

    margin: 0 auto;
    background-color: #252525a7;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    box-shadow: 0 0 10px var(--text-color2);
    color: var(--text-color);
    font-size: 20px;
    transition: 0.5s;

    overflow: hidden;
    width: 50%;

}
.seasonLogo {
    width: 33%;
    height: fit-content;
    max-width: 210px;
    max-height: 210px;
    box-shadow: 0 0 10px var(--text-color2);
}
.seasonDiv{
    padding-left: 20px;
}

.title {
    color: var(--text-color2);
}

.title.season {
    text-decoration: underline;
}

.button {
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    background-color: var(--text-color2);
    color: var(--bg-color);
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    
    margin: auto 15px 15px auto;

    transition: 0.5s;
}

.button:hover {
    cursor: pointer;
    background-color: var(--text-shine);
    transition: 0.5s;
}

.button:active {
    background-color: var(--text-color);
    transition: 0.5s;
}

@media screen and (max-width: 1030px) {
    #infoDiv {
        flex-direction: column;
        height: fit-content;
    }
    #infoTextDiv {
        margin-bottom: 20px;
    }
    #discordIframe {
        height: 350px;
        width: 50%;
    }
    #seasons {
        grid-template-columns: 1fr;
    }
    .seasonContainer {
        width: 80%;
    }
    .seasonLogo {
        width: 100%;
    }
    #countdownDiv {
        max-width: 80%;
    }
    li {
        font-size: 20px;
    }
    li span {
        font-size: 35px;
    }

}

@media screen and (max-width: 800px) {
    #infoDiv {
        flex-direction: column;
        height: fit-content;
    }
    #infoTextDiv {
        margin-bottom: 20px;
    }
    #discordIframe {
        height: 350px;
        width: 50%;
    }
    #seasons {
        grid-template-columns: 1fr;
    }
    .seasonContainer {
        width: 70%;
        font-size: 15px;
    }
    .seasonContainer > * > .title {
        font-size: 25px;
    }
    .seasonLogo {
        width: 100%;
    }
    #countdownDiv {
        font-size: 20px;
    }
    li {
        font-size: 15px;
    }
    li span {
        font-size: 30px;
    }
    #heading {
        font-size: 70px;
    }
}

@media screen and (max-width: 830px) {
    li {
        padding: 15px;
    }
}

@media screen and (max-width: 700px) {
    #navbar {
        display: none;
    }
}

@media screen and (max-width: 630px) {
    #heading {
        font-size: 60px;
    }
    .seasonContainer {
        width: 90%;
    }
    #countdownDiv {
        font-size: 15px;
    }
    #infoTextDiv {
        padding: 10px;
        width: 90%;
    }

}

@media screen and (max-width: 530px) {
    #heading {
        font-size: 50px;
        text-align: center;
    }
    li {
        font-size: 10px;
    }
    li span {
        font-size: 25px;
    }
    
    .seasonContainer {
        width: 80%;
        flex-direction: column;
    }
    .seasonContainer > * > .title {
        font-size: 20px;
    }
    .seasonContainer > .button {
        align-self: unset;
    }
    .seasonLogo {
        align-self: center;
    }
    #discordIframe {
        height: 300px;
        width: 80%;
    }
}

